body {
    background-color: #194870;
    color: white;
    font-family: "Times New Roman", "Helvetica Neue", Georgia, "Times New Roman", serif;
}

.sans {
    font-family: sans-serif;
}

span {
    font-family: sans-serif;
}