body {
    background-color: #e5ecf6;
    background-image: url("");
}

h1 {
    color: #a11e1e;
    text-align: center;
}
.fancy-header {
    color: #0a3994;
    text-decoration: underline;
}
h2 {
    color: #007069;
    text-decoration: underline;
}
em {
    color: #c92148;
}
