body {
    background-color: #e5ecf6;
    background-image: url(../img/background-brush.png);
    font-family: "Helvetica Neue", sans-serif;
}

h1 {
    color: #a11e1e;
    text-align: center;
}
.fancy-header {
    color: #0a3994;
    text-decoration: underline;
}
h2 {
    color: #007069;
    text-decoration: underline;
}
em {
    color: #c92148;
}

ul li {
    list-style: lower-greek;
    padding: 1px;
}

ol li {
    padding: 1px;
}

a:link {
    color: #1b7ad2;
}

a:hover {
    color: #13bbbb;
}

a:active {
    color: green;
}

a:visited {
    color: purple;
}

td, tr {
    padding: 15px;
}